* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#app {
    margin: auto;
    max-width: 1500px;
}

h1 {
    margin: 25px;
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 10px;
    color: white;
    font-weight: 500;
}

h3 {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 24px;
}

h4 {
    text-align: center;
}

.health-bars {
    height: 120px;
    margin:auto;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;

}
.health-bar {
    margin: auto;
    height: 50px;
    width: 49%;
    background-color: #f0f0f0;
}

.health-bar-left {
    float: left;
}

.health-bar-right {  
    float: right;
}

.health {
    width: 100%;
    height: 100%;
    background-color: #FF0000;
}

.focus-bar {
    height: 18px;
    margin-top: 5px;
    background-color: #f0f0f0;
}
.focus {
    color: white;
    background-color: #1873CC;
    width: 50%;
}

.button-group {
    margin: auto;
    width: 90%;
    background-color: #f0f0f0;
    
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;

}
.btn {
    text-decoration: none;
    margin-left: 10px;
    min-width: 120px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border-color: white;
    background-color: black;
    padding: 10px;
}
.btn:hover {
    cursor: pointer;
    opacity: .9;
}
.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: #007bff;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}
.btn-info {
    background-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-dark {
    background-color: #343a40;
}
.btn_muted {
    background-color: #6c757d;
}
.btn_muted:hover {
    cursor: default;
    opacity: 1;
}

.tooltip {
    position: relative;;
}

.tooltip .tooltiptext{
    position: absolute;
    visibility: hidden;

}
.tooltip:hover {
    z-index: 2;
}

.tooltip:hover .tooltiptext {

    width: 120px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    background-color: black;
    visibility: visible;
    top: 120%;
    left: -10px;
}
.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 60px;
    border: 10px solid;
    border-color: transparent transparent black transparent;
}

